<!DOCTYPE html>
<html>
<title>Chula Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/w3style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<body onload="TC_TableCreate() ">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-pink w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-text-white">
      <b class="w3-jumbo">Chula<br></b>
      <b class="w3-xxxlarge">DATABASE<br><hr></b>
    </h3>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="/profile" class="w3-bar-item w3-button w3-hover-white">Profile</a>
    <a href="/executive" class="w3-bar-item w3-button w3-hover-white">Executive</a>
    <a href="/advisor" class="w3-bar-item w3-button w3-hover-white">Advisor</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-white">About us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Chula DATABASE</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>My Profile</b> <img src="/images/profilepic.jpg" class="w3-right w3-margin-bottom w3-round-xxlarge" style="margin-right:20px;width:220px;height:190px;border:2px solid" > </img> </h1>
    <h1 class="w3-xxxlarge w3-text-pink"><!--b>Wiwat Vatanawood</b--><b><%= profile_name %></b></h1>
    <hr style="width:1000px;border:5px solid pink;border-spacing:2px" class="w3-round">

  </div>

  <!-- Student Table -->
  <div class="w3-container">
    <table class="w3-table-all" style="width:100%;margin-bottom:80px" id="tc_table">
      <caption style="font-size:35px;margin-bottom:10px"><b>My Courses</b></caption>
      <tr>
      <th>CourseID</th>
      <th>Name</th>
      <th>Section</th>
      <th>Date</th>
      <th>Room</th>
    </tr>
  </table>
  </div>


<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script src="/javascripts/chartjs.js"></script>
<script>
function TC_TableCreate() {
  Fname = 'Database Management System Design'
  var table = document.getElementById('tc_table')
  for (var i = 0; i < 4; i++){
    var tr = document.createElement('tr');

    var cid = document.createElement('td');
    var name = document.createElement('td');
    var date = document.createElement('td');
    var sec = document.createElement('td');
    var room = document.createElement('td');

    var text_cid = document.createTextNode('2110422');
    var text_name = document.createTextNode('<%=profile_name%>');
    var text_sec = document.createTextNode('3');
    var text_date = document.createTextNode('Tue,Thu 8.00-9.30');
    var text_room = document.createTextNode('ENG100 (201)')

    cid.appendChild(text_cid);
    name.appendChild(text_name);
    date.appendChild(text_date);
    sec.appendChild(text_sec);
    room.appendChild(text_room)

    tr.appendChild(cid);
    tr.appendChild(name);
    tr.appendChild(sec);
    tr.appendChild(date);
    tr.appendChild(room);

    table.appendChild(tr);
  }
}
</script>

</body>
</html>
