<!DOCTYPE html>
<html>
<title>Chula Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/w3style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<body onload="create_gradeTable()">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-pink w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-text-white">
      <b class="w3-jumbo">Chula<br></b>
      <b class="w3-xxxlarge">DATABASE<br><hr></b>
    </h3>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="/profile" class="w3-bar-item w3-button w3-hover-white">Profile</a>
    <a href="/executive" class="w3-bar-item w3-button w3-hover-white">Executive</a>
    <a href="/advisor" class="w3-bar-item w3-button w3-hover-white">Advisor</a>
    <a href="/about" class="w3-bar-item w3-button w3-hover-white">About us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">â˜°</a>
  <span>Chula DATABASE</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px;" id="showcase">
    <h1 class="w3-jumbo"><b>5730398821</b> <img src="/images/studentpic5.png" class="w3-left w3-margin-bottom w3-round-xxlarge" style="margin-right:100px;width:250px;height:210px;border:1px solid;" > </img> </h1>
    <h1 class="w3-xxxlarge w3-text-pink"><b>นาย พิชญุตม์ จิตรศิลป์ฉายากุล</b></h1>
    <hr style="margin-top:50px;width:1000px;border:5px solid pink;border-spacing:2px" class="w3-round">

  </div>


<div class="w3-container">
    <h1>Profile</h1>
    <hr>
    <h4><p>รหัสประจำตัว: 5730398821</p>
        <p>ชื่อ: นายพิชญุตม์  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp นามสกุล: จิตรศิลป์ฉายากุล &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp เบอร์โทร: 081-xxxxxxxx </p>
        <p>อีเมล์: pppp@hotmail.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp โรคประจำตัว: - </p>
        <p>คณะ: วิศวกรรมศาสตร์ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp สาขา: วิศวกรรมคอมพิวเตอร์ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ชั้นปี: 3 </p>
        <p>หลักสูตร: ทวิภาค &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp เกรดเฉลี่ย: 3.xx </p>
        <p>ที่อยู่: หอยู </p>
    </h4>
    <hr style="margin-top:50px;width:1000px;border:5px solid pink;border-spacing:2px" class="w3-round">
</div>

    <div class="w3-container">
      <h1>Grade & Activity</h1>
      <hr>
      <p>YEAR
        <select id="grade_yearSelect" class="w3-select" style="width:10%;font-size:12px;margin-bottom:15px;margin-left:10px">
          <option value="1">1st</option>
          <option value="2">2nd</option>
          <option value="3" selected="selected">3rd</option>
          <option value="4">4th</option>
          <option value="5">5th</option>
        </select>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SEMESTER
        <select id="grade_semesterSelect" class="w3-select" style="width:10%;font-size:12px;margin-bottom:15px;margin-left:10px">
          <option value="1">First</option>
          <option value="2" selected="selected">Second</option>
          <option value="3">Summer</option>
        </select>
      </p>
    </div>
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <!-- Student Table -->

      <div class="w3-container">
        <table class="w3-table-all" style="width:100%;margin-bottom:80px;" id="gradeTable">
          <caption style="font-size:35px;margin-bottom:10px"><b>Grade</b></caption>
          <tr>
          <th>CourseID</th>
          <th>Name</th>
          <!--<th>Section</th>-->
          <th>Grade</th>
          <th>Weight</th>
        </tr>
      </table>
      </div>
    </div>

    <div class="w3-half">
      <!-- Student Table -->
      <div class="w3-container">
        <table class="w3-table-all" style="width:100%;margin-bottom:80px" id="activityTable">
          <caption style="font-size:35px;margin-bottom:10px"><b>Activities</b></caption>
          <tr>
          <th>CourseID</th>
          <th>Name</th>
          <th>Section</th>
          <th>Date</th>
          <th>Room</th>
        </tr>
      </table>
      </div>
    </div>
  </div>


<script src="/javascripts/chartjs.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>

function create_gradeTable() {
  var table = document.getElementById('gradeTable')
  var weightSum = 0;


  for (var i = 0; i < 5; i++) {
    var tr = document.createElement('tr');
    var cid = document.createElement('td');
    var name = document.createElement('td');
    //var section = document.createElement('td');
    var grade = document.createElement('td');
    var weight = document.createElement('td');

    var text_cid = document.createTextNode('2110422');
    var text_name = document.createTextNode('DB MGT SYS DESIGN');
    //var text_section = document.createTextNode('3');
    var text_grade = document.createTextNode('A');
    var text_weight = document.createTextNode('3');

        cid.appendChild(text_cid);
        name.appendChild(text_name);
        //section.appendChild(text_section);
        grade.appendChild(text_grade);
        weight.appendChild(text_weight);

        tr.appendChild(cid);
        tr.appendChild(name);
        //tr.appendChild(section);
        tr.appendChild(grade);
        tr.appendChild(weight);
        table.appendChild(tr);

        weightSum += 3;

    }

    var tfoot = document.createElement('tfoot')
    //GPAX

    var tr1 = document.createElement('tr');

    var total1 = document.createElement('td')
    var sum1 = document.createElement('td');

    var text_total1 = document.createTextNode('GPAX');
    var text_sum1 = document.createTextNode('4.00');

    total1.colSpan = "3";
    total1.appendChild(text_total1)
    sum1.appendChild(text_sum1)
    tr1.appendChild(total1)
    tr1.appendChild(sum1)
    tfoot.appendChild(tr1)

    //Weight
    var tr2 = document.createElement('tr');

    var total = document.createElement('td')
    var sum = document.createElement('td');

    var text_total = document.createTextNode('TotalWeight');
    var text_sum = document.createTextNode(weightSum);

    total.colSpan = "3";
    total.appendChild(text_total)
    sum.appendChild(text_sum)
    tr2.appendChild(total)
    tr2.appendChild(sum)
    tfoot.appendChild(tr2)

    table.appendChild(tfoot)


}

</script>

</body>
</html>
